icon-clima {
.element {
  height: 40px;
  width: 40px;
  margin: 10px;
  margin-top: 20px;
 }

 .elements {
   display: inline-block;
   text-align: center;

 }

.white {fill:#FFFFFF}
.gray {fill:#E0E0E0}
.yellow {fill:#FFEB3B}
}
